---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"
const diagramaFlujoUrl = "/diagrama-de-flujo-cuidado.jpg"
const cuidador1 = "/cuidador1.jpg"
const cuidador2 = "/cuidador2.jpg"

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Factores Ambientales de la Empresa</h1>
      <div class="seccion">
        
        <hr>
        <h2>Factores Internos</h2>
        <hr>
        <h3>Cultura Organizacional</h3>
        <p>La cultura de Biota Lab podría estar orientada a la calidad, especialmente debido a la producción de veneno para ratas. Considera si existe una mentalidad de mejora continua o si el personal está abierto a la innovación tecnológica, ya que esto influirá en la aceptación del nuevo sistema IoT. 
        </p>
        <h3>Resistencia al cambio</h3>
        <p>El equipo operativo puede estar acostumbrado a procesos manuales o semi
          automatizados. La transición hacia un sistema más avanzado podría generar 
          resistencia si no hay un plan claro de capacitación y sensibilización. 
        </p>
        <h3>Toma de decisiones</h3>
        <p>Si la estructura organizacional es horizontal, la toma de decisiones puede ser 
          rápida, lo que favorece la implementación del proyecto. Sin embargo, la falta 
          de un comité formal de gobernanza puede generar desafíos en la gestión del 
          cambio. 
        </p>
        <h3>Misión</h3>
        <p>Ofrecer soluciones efectivas y de alta calidad en el control de plagas, 
          protegiendo hogares, empresas y entornos productivos, con un firme 
          compromiso hacia la seguridad, la efectividad y el bienestar de nuestros 
          clientes. </p>
        <h3>Visión</h3>
        <p>Ser reconocidos como la empresa líder en el mercado nacional de control de 
          plagas, destacándonos por la innovación, la excelencia en el servicio al 
          cliente y el desarrollo de productos que combinen efectividad y seguridad.</p>
        <h3>Valores</h3>
        <ul>
          <li>
            <strong>Calidad:</strong> Nos comprometemos a ofrecer productos que cumplan con 
            los más altos estándares de efectividad en el control de plagas. 
          </li>
          <li>
            <strong>Responsabilidad:</strong>  Priorizamos el bienestar de nuestros clientes y el 
            respeto al medio ambiente en cada uno de nuestros procesos</li>
          <li>
            <strong>Confianza:</strong>  Fomentamos relaciones basadas en la transparencia y la 
            honestidad con nuestros clientes y socios.  </li>
          <li>
            <strong>Compromiso:</strong> Nos dedicamos a garantizar soluciones duraderas y a 
            largo plazo para el control de plagas, brindando seguridad y 
            tranquilidad a nuestros clientes.  </li>
          <li>
            <strong>Innovación:</strong> Buscamos constantemente mejorar nuestros productos 
            y procesos para ofrecer soluciones más eficientes y seguras.</li>
        </ul>
        <h3>Estructura Organizacional</h3>
        <p>La estructura es simple y horizontal, con pocos niveles jerárquicos. Las 
          decisiones se toman principalmente por los propietarios, lo que facilita la 
          toma de decisiones, pero puede limitar la diversificación de ideas. Este 
          aspecto se verificó durante nuestra reunión con la dueña, quien explicó el 
          proceso de toma de decisiones dentro del negocio. </p>
        <img width={1000} src={"/estructura-organizacional.jpg"} alt="" />
        <h3>Gobernanza</h3>
        <p>No hay un comité formal para la toma de decisiones, y los procesos son 
          generalmente informales. Esto podría acelerar el proceso de 
          implementación, aunque también podría resultar en falta de documentación 
          o control formal de cambios. Esta observación se realizó durante la visita al 
          local, donde se notó la ausencia de comités formales y procedimientos 
          documentados. 
          </p>
        <hr>
        <h2>Capacidad y Disponibilidad de los Recursos</h2>
        <hr>
        <h3>Procesos y procedimientos establecidos</h3>
        <h4>Procedimientos de gestión</h4>
        <p>
          Biota Lab sigue procedimientos informales y flexibles en su operación diaria. 
Aunque esta flexibilidad facilita la adaptación a nuevas tecnologías, también 
puede generar inconsistencias en la ejecución del proyecto si no se 
establecen procedimientos formales desde el principio. Durante la visita, se 
observó que los procesos no están documentados de manera estandarizada, 
lo que hace esencial la implementación de protocolos claros para asegurar 
la eficiencia y el control de calidad en el nuevo sistema automatizado. 
        </p>  
        <h4>Capacidad para integración</h4>
        <p>
          Analiza si los sistemas actuales pueden integrarse fácilmente con 
tecnologías IoT, o si es necesario hacer cambios significativos en la 
infraestructura tecnológica de la empresa. 
        </p>  
        <h4>Lecciones aprendidas</h4>
        <p>
          Al no haber realizado proyectos tecnológicos previos, la empresa carece de 
una base de conocimiento en esta área. Será crucial documentar el proceso 
para futuras mejoras. Esta observación se basó en la falta de documentación 
sobre proyectos similares durante la visita. 
        </p>  
        <h3>Sistemas de Información de la Organización</h3>
        <h4>Procedimientos de gestión</h4>
        <p>
          Si los procesos actuales son informales, puede ser más fácil adaptarlos a un 
nuevo sistema IoT. Sin embargo, será necesario formalizar los 
procedimientos para asegurar la consistencia en la operación. Por ejemplo, 
crear protocolos para la gestión de inventarios en tiempo real, registro de 
productos y manejo de alertas automatizadas. 
        </p>  
        <h4>Capacitación del personal</h4>
        <p>
          Considera si existen procedimientos para capacitar al personal en nuevas 
tecnologías o si es necesario establecer uno. Dado que el nuevo sistema IoT 
es más complejo que los métodos tradicionales, la capacitación será un 
componente esencial del proyecto.
        </p>  
        

        <hr>
        <h2>Factores Externos</h2>
        <hr>
        <h3>Condiciones del mercado</h3>
        <h4>Competencia</h4>
        <p>Es probable que los competidores en la fabricación de veneno para ratas 
          utilicen métodos más tradicionales de producción. La implementación de un 
          sistema automatizado de control de calidad puede ofrecer una ventaja 
          competitiva a Biota Lab al reducir el número de productos defectuosos y 
          optimizar los tiempos de producción.
        </p>
        <h4>Innovaciones del mercado</h4>
        <p>Si hay pocos competidores utilizando IoT, Biota Lab podría destacarse como 
          una empresa innovadora, ganando ventaja en términos de eficiencia y 
          calidad. 
        </p>

        <h3>Tendencias tecnológicas</h3>
        <h4>Adopción del IoT</h4>
        <p>La tendencia hacia el uso de tecnologías IoT está en crecimiento, 
          especialmente en la gestión automatizada de inventarios y producción. 
          Implementar estas tecnologías permitirá a Biota Lab mantenerse a la 
          vanguardia de la industria. Sin embargo, también es importante evaluar la 
          disponibilidad de proveedores y expertos locales que puedan ofrecer soporte 
          técnico y capacitación en IoT. 
        </p>
        <h4>Automatización y control de calidad </h4>
        <p>Las empresas están buscando cada vez más formas de automatizar el 
          control de calidad, especialmente en sectores sensibles como el de 
          productos químicos. Biota Lab debe aprovechar esta tendencia para 
          aumentar su competitividad. 
        </p>

        <h3>Estándares de la industria</h3>
        <h4>Normativas de producción de productos químicos</h4>
        <p>Biota Lab debe cumplir con las normativas locales e internacionales 
          relacionadas con la producción, manejo y envasado de productos químicos, 
          como el veneno para ratas. Estas normativas pueden incluir regulaciones 
          sobre el manejo seguro de sustancias peligrosas, etiquetado adecuado y 
          almacenamiento seguro.
        </p>

        <h3>Consideraciones socioculturales</h3>
        <h4>Idioma y educación</h4>
        <p>La interfaz del sistema debe ser simple y, si es necesario, en el idioma local 
          para asegurar su uso efectivo para que esté adaptada al nivel educativo del 
          personal, quien tiene un nivel básico de educación. 
        </p>

        <h3>Entorno físico</h3>
        <h4>Ubicación y clima</h4>
        <p>El almacén de Biota Lab está ubicado en Villa El Salvador, una zona que 
          podría enfrentar problemas de infraestructura, como cortes de energía o 
          fluctuaciones en la conectividad a internet, lo que afectaría el monitoreo en 
          tiempo real del sistema IoT. 
          Condiciones climáticas: Consideraremos las condiciones ambientales del 
          área, ya que factores como el calor extremo o la humedad pueden afectar el 
          funcionamiento del equipo electrónico y los sensores IoT. La instalación de 
          sistemas de climatización o protección podría ser necesaria para garantizar 
          el funcionamiento óptimo del sistema.
        </p>
        
      </div>
      <div class="seccion">
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Visita al laboratorio</h3>
        <p>Se realizaron entrevistas y toma de fotos al establecimiento</p>
        <img width={1020} height={510} src={"/maquina.jpg"} alt="" />
        
      </div>
      
		</main>
		<Footer />
	</body>
</html>
