---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"
const diagramaFlujoUrl = "/diagrama-de-flujo-cuidado.jpg"
const cuidador1 = "/cuidador1.jpg"
const cuidador2 = "/cuidador2.jpg"
const edt = "/EDT.pdf"
const diccionarioEdt = "/diccionario-EDT.pdf"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Desarrollar el cronograma</h1>
      <div class="seccion">
        <hr>
        <h2>Entradas</h2>
        <hr>
        <ol>
          <li>
            <a href="/entregables/factores-ambientales">Factores ambientales de la Empresa</a>
          </li>
          <li>
            <a href="/entregables/activos-de-los-procesos">Activos de los Procesos de la Organización</a>
          </li>
          <li>
            <a href="/entregables/cronograma/definir-las-actividades">Atributos de las actividades</a>
            <iframe src={"/atributos-de-las-actividades.pdf"} width="100%" height="600px"></iframe>
            
          </li>
        </ol>
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Método de la ruta crítica</h3>
        <p>El método de la ruta crítica se utiliza para estimar la mínima duración del proyecto y determinar el nivel de flexibilidad en la programación de los caminos de red lógicos dentro del modelo de programación. Esta técnica de análisis de la red del cronograma calcula las fechas de inicio y finalización, tempranas y tardías, para todas las actividades, sin tener en cuenta las limitaciones de recursos, y realiza un análisis que recorre hacia adelante y hacia atrás toda la red del cronograma.</p>
        <iframe src={"/metodo-ruta-critica.pdf"} width="100%" height="600px"></iframe>
        <hr>
        <h2>Salidas</h2>
        <hr>

        <h3>Cronograma de actividades del proyecto</h3>
        <iframe src={"/cronograma.pdf"} width="100%" height="600px"></iframe>
        
      </div>
      
		</main>
		<Footer />
	</body>
</html>
