---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Planificar la Gestión de Costos</h1>
      <div class="seccion">
        <hr>
        <h2>Entradas</h2>
        <hr>
        <ol>
          <li>
            <a href="/documentacion/acta-de-constitucion">Acta de constitución</a>
          </li>
          <li>
            <a href="/documentacion/factores-ambientales">Factores ambientales</a>
          </li>
          <li>
            Norma ISO
            <iframe src={"/iso-9001.pdf"} width="100%" height="600px"></iframe>
          </li>
        </ol>
        
        

        <hr>
        <h2>Salidas</h2>
        <hr>
        <h3>Plan para la Gestión de la Calidad</h3>
        <p>El Plan de Gestión de la Calidad establece el enfoque y las actividades para garantizar que el proyecto de implementación del sistema de riego automatizado cumpla con los estándares de calidad establecidos.</p>
        <iframe src={"/plan-gestion-calidad.pdf"} width="100%" height="600px"></iframe>
        <h3>Métricas de calidad</h3>
        <iframe src={"/metricas-calidad.pdf"} width="100%" height="600px"></iframe>
      </div>
      
		</main>
		<Footer />
	</body>
</html>
