---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Acta de Constitución</h1>
      <div class="seccion">
        <hr>
        <h2>Entradas</h2>
        <hr>
        <h3>Documentos del negocio</h3>
        <h4>Caso del negocio</h4>
        <p>El proyecto tiene como objetivo resolver el desafío de mejorar la precisión y eficiencia en el proceso de envasado de veneno para ratas en Biota Lab. Actualmente, la empresa enfrenta problemas en la precisión del peso de las bolsas, lo que afecta la calidad del producto final y aumenta los costos operativos debido a errores en el proceso de corte y envasado. La implementación de un sistema IoT permitirá la automatización del control de calidad, garantizando que solo las bolsas que cumplan con los estándares de peso sean aceptadas, lo que optimizará los recursos y mejorará la rentabilidad de la empresa.​.</p>
        <h4>Visión</h4>
        <p>Convertirse en una empresa líder en innovación tecnológica en el sector de fabricación de productos químicos, mejorando la calidad del producto y la eficiencia operativa a través de la implementación de tecnologías IoT que optimicen el proceso de envasado de veneno para ratas.
        </p>
        <h4>Misión</h4>
        <p>Implementar un sistema automatizado de control de calidad basado en IoT, que permita monitorear y asegurar que las bolsas de veneno para ratas cumplan con los estándares de peso de manera eficiente y precisa. El sistema también incluye una aplicación móvil para notificar a los operarios sobre el estado del proceso en tiempo real. Esta solución mejorará la eficiencia operativa, reducirá el desperdicio de material y garantizará un producto de alta calidad, cumpliendo con normativas y mejores prácticas en la industria.</p>
        <h4>Registro General de Cuyes e Inventario de distribución y galón de cuyes</h4>
        <p>Se llevará un registro completo del inventario de productos envasados, asegurando un control detallado del proceso de producción y la calidad de cada lote de bolsas de veneno durante el mes de septiembre.</p>
        <iframe src={"/registro-general-producto-inventario.pdf"} width="100%" height="600px"></iframe>
        <p>Este registro detalla el estado de la producción y la calidad de las bolsas de veneno para ratas en Biota Lab durante el mes de septiembre de 2024, mientras que el inventario de distribución gestiona y organiza todos los recursos y materiales necesarios para el funcionamiento eficiente de la empresa, asegurando que los productos se mantengan en los estándares de calidad requeridos y estén disponibles para su distribución oportuna.</p>
        <iframe src={"/documentos-negocio.pdf"} width="100%" height="600px"></iframe>
        
        <h4>Otras entradas</h4>

        <ol>
          <li>
            <a href="/documentacion/factores-ambientales">Factores ambientales de la Empresa</a>
          </li>
          <li>
            <a href="/documentacion/activos-de-los-procesos">Activos de los Procesos de la Organización</a>
          </li>
        </ol>

      </div>
      <div class="seccion">
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Entrevistas</h3>
        <p>Se realizaron entrevistas con el equipo de Biota Lab para obtener la información necesaria sobre el proceso actual de envasado y sus desafíos.
        </p>
        <h3>Reuniones</h3>
        <p>Se llevaron a cabo reuniones periódicas entre los responsables del proyecto para coordinar las actividades, compartir avances y mantener la coherencia en la planificación y ejecución del proyecto.</p>
        <img width={1000} src={"/evidencia-acta.jpg"} alt="" />

        <h3>Modelo Canvas</h3>
        <p>El Business Model Canvas se utilizará como una herramienta estratégica para diseñar y comunicar el modelo de negocio asociado al proyecto. Ayudará a Biota Lab a visualizar cómo la automatización del proceso de envasado mediante IoT puede optimizar la eficiencia operativa, reducir costos, y mejorar la calidad del producto, posicionando a la empresa como un referente en el sector.
        </p>
        <iframe src={modeloCanvasUrl} width="100%" height="600px"></iframe>
      </div>
      <div class="seccion">
        <hr>
        <h2>Salida</h2>
        <hr>
        <h3>Acta de constitución</h3>
        <p>El Acta de Constitución del Proyecto es un documento esencial en la gestión de proyectos, utilizado para autorizar oficialmente el inicio del proyecto de implementación del sistema IoT en Biota Lab. Este documento establece la base y la autoridad del proyecto, detallando los objetivos y el alcance, además de los plazos y los documentacion esperados para optimizar el proceso de envasado de veneno para ratas mediante automatización.</p>
        <iframe src={actaDeConstitucionUrl} width="100%" height="600px"></iframe>
      </div>
		</main>
		<Footer />
	</body>
</html>
