---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"
const diagramaFlujoUrl = "/diagrama-de-flujo-cuidado.jpg"
const cuidador1 = "/cuidador1.jpg"
const cuidador2 = "/cuidador2.jpg"
const edt = "/EDT.pdf"
const diccionarioEdt = "/diccionario-EDT.pdf"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
		</style>
	</head>
	<body>
    <Header />
		<main>
      <h1>Secuenciar las actividades</h1>
      <div class="seccion">
        <hr>
        <h2>Entradas</h2>
        <hr>
        <ol>
          <li>
            <a href="/documentacion/activos-de-los-procesos">Activos de los Procesos de la Organización</a>
          </li>
          <li>
            <a href="/documentacion/factores-ambientales">Factores Ambientales</a>
          </li>
          <li>
            <a href="/documentacion/cronograma/definir-las-actividades">Atributos de las actividades</a>
            <iframe src={"/atributos-de-las-actividades.pdf"} width="100%" height="600px"></iframe>

          </li>
        </ol>
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Método de diagramación por precendencia</h3>
        <p>En el MDP, las actividades se representan mediante nodos o cajas, y las relaciones de precedencia se muestran mediante flechas que conectan los nodos. Cada actividad se representa por su nombre o número y puede incluir información adicional, como la duración estimada de la actividad..</p>
        <iframe src={"/ruta-critica-chiquita.pdf"} width="100%" height="600px"></iframe>
        
        <hr>
        <h2>Salidas</h2>
        <hr>
        <h3>Diagrama de red el Cronograma del Proyecto</h3>
        <p>Es una representación gráfica de las actividades del proyecto y las relaciones de precedencia entre ellas. Este tipo de diagrama se utiliza para planificar, programar y visualizar el flujo de trabajo del proyecto, incluyendo la secuencia de actividades, las dependencias y las interrelaciones entre ellas
        </p>
        <iframe src={"/metodo-ruta-critica.pdf"} width="100%" height="600px"></iframe>
  
      </div>
      
		</main>
		<Footer />
	</body>
</html>
