---
import BaseHead from '../../../components/BaseHead.astro';
import Header from '../../../components/Header.astro';
import Footer from '../../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../../consts';

const modeloCanvasUrl = "/modelo-canvas.pdf"
const actaDeConstitucionUrl = "/acta-de-constitucion.pdf"
const diagramaFlujoUrl = "/diagrama-de-flujo-cuidado.jpg"
const cuidador1 = "/cuidador1.jpg"
const cuidador2 = "/cuidador2.jpg"
const edt = "/EDT.pdf"
const diccionarioEdt = "/diccionario-EDT.pdf"
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
			}
			.seccion {
        margin-bottom: 3em;
      }
      h3, h2 {
        text-align: center;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
      }
      h3 {
        margin-top: 1em;
      }
      h1 {
        text-align: center;
        margin-bottom: 1em;
      }
      .personal-container {
        display: flex;
        justify-content: space-between;
        margin-top: 2em;
      }
      .personal {
        width: 500px;
        text-align: center;
        padding: 0 1em 0 1em;
      }
		</style>
	</head>
	<body>
		<Header />
		<main>
      <h1>Alcance</h1>
      <div class="seccion">
        <hr>
        <h2>Entradas</h2>
        <hr>
        <ol>
          <li>
            <a href="/documentacion/factores-ambientales">Factores ambientales de la Empresa</a>
          </li>
          <li>
            <a href="/documentacion/activos-de-los-procesos">Activos de los Procesos de la Organización</a>
          </li>
        </ol>
        <hr>
        <h2>Herramientas</h2>
        <hr>
        <h3>Descomposición</h3>
        <h4>CRISP-DM</h4>
        <p>La metodología CRISP-DM (Cross-Industry Standard Process for Data Mining) guiará el desarrollo del modelo de Machine Learning del proyecto. Esta metodología se enfoca en todas las etapas del ciclo de vida del análisis de datos, desde la recolección y normalización de datos hasta el entrenamiento, la selección y la evaluación del modelo. Esto asegura que el sistema no solo cumpla con los estándares de precisión, sino que también optimice el control de calidad del veneno para ratas en Biota Lab.</p>
        <h4>Lean</h4>
        <p>Para la instalación de los componentes IoT, se adoptará la metodología Lean, que busca maximizar la eficiencia al minimizar el desperdicio en tiempo, materiales y movimientos innecesarios. Este enfoque permitirá que la implementación sea más rápida y rentable, asegurando que cada actividad realizada aporte valor directo al proyecto. Al aplicar principios Lean, se facilitará una mejora continua en el proceso de instalación.
        </p>
        <h4>Scrum</h4>
        <p>El desarrollo de la plataforma móvil se llevará a cabo utilizando la metodología Scrum. Cada módulo de la aplicación se estructurará como un Sprint, lo que fomentará una gestión ágil y colaborativa del proceso. Esto permitirá al equipo adaptarse rápidamente a cualquier cambio en los requisitos y asegurar que se entreguen resultados de alta calidad en intervalos cortos, mejorando así la satisfacción del usuario final.
        </p>
        <h4>DevOps</h4>
        <p>La metodología DevOps se implementará para integrar la automatización en la gestión de los servidores web y el sistema de Machine Learning, así como en la actualización del firmware del ESP32. Utilizando prácticas de integración continua (CI) y despliegue continuo (CD), se garantizará que el sistema se mantenga actualizado y funcione de manera eficiente. Además, se establecerán procesos de monitoreo para evaluar el rendimiento del sistema y la calidad de los datos, asegurando que todas las operaciones fluyan sin problemas.</p>
        <hr>
        <h2>Salidas</h2>
        <hr>
        <h3>Enunciado del alcance</h3>
        <p>Este proyecto tiene como objetivo diseñar, desarrollar e implementar un sistema IoT para monitorear y controlar el proceso de envasado de veneno para ratas en Biota Lab. El sistema incluirá tanto hardware como software, con módulos de comunicación (Wi-Fi, Bluetooth), sensores y cámaras para recopilar datos en tiempo real sobre los parámetros de calidad del envasado. Además, se desarrollará un modelo de aprendizaje automático (ML) para identificar y contar bolsas, así como detectar comportamientos inusuales o signos de falla en el proceso. El proyecto también incluirá la instalación del sistema, la capacitación del personal y la validación inicial y final del sistema. Finalmente, se generarán métricas y reportes automatizados para el ajuste de condiciones y alertas.
        </p>
        <h3>Estructura de Desglose de Trabajo EDT</h3>
        <iframe src={edt} width="100%" height="600px"></iframe>
        <h3>Diccionario EDT</h3>
        <iframe src={diccionarioEdt} width="100%" height="600px"></iframe>
      </div>
      
		</main>
		<Footer />
	</body>
</html>
